/* Page Styling */
#infoPage {
	display: none;
}
#settingsPage {
	display: none;
}
#timePage {
	display: none;
}

html, body {
	/*height: 300px;*/
	width: 320px;
}
.header {
	background-color: grey;
	text-align: center;
	margin-bottom: 15px;
}
.header h1 {
	padding: 5px;
	margin: 0px;
	color: white;
}
#submitBtn {
	width: 100%;
}

/* Box around the slider*/
.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 34px;
	float: right;
}
/* Hide default HTML checkbox*/
.switch input {
	display: none;
}

/* The slider*/
.slider {
	position: absolute;
	cursor: pointer;
	border-radius: 34px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #5cb85c;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	border-radius: 50%;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider {
	background-color: #F44336;
}
input:focus + .slider {
	box-shadow: 0 0 1px #F44336;
}
input:checked + .slider:before {
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(66px);
}
#punchinForm div label {
	display: inline-block;
}
#punchinForm div input[name="timeIn"] {
	display: inline-block !important;
	width: 100px;
}
#sourceCode {
	text-align: center;
}
.settings-label {
	font-size: 20px;
	vertical-align: top;
}
.setting-line {
	margin-bottom: 12px;
}
#updateAlert {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 230px;
}
.timeInfo {
	font-size: 18px;
}
#timeClock {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}